<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>ChunChun Sweets</h3>
          <p>
            Harishchandra Compound, L B S Marg <br>
            Vikhroli (W), Mumbai-400079 <br>
            India <br><br>
            <strong>Phone:</strong> +919224102279<br>
            <strong>Email:</strong> chunchunsweets@gmail.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/about-us">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="/wholesale-cashew-kernels-products-details">Products Range</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our WholeSale Products</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cashew Kernels W180</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cashew Kernels W320</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Cashew Kernels W240</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Many More ..</a></li>
          </ul>
        </div>

        <div class="col-lg-4 col-md-6 footer-newsletter">
          <h4>Connect With Us On Social Media</h4>
          <div class="social-links  text-md-right pt-3 pt-md-0">
            <a href="https://www.facebook.com/chunchunsweets" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://goo.gl/maps/cLvypkTAAu316Dnp6" class="google-plus"><i class="bx bxl-google"></i></a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="container d-md-flex py-4">

    <div class="me-md-auto text-center text-md-start">
      <div class="copyright">
        &copy;<strong><span>ChunChun Sweets</span></strong>. All Rights Reserved
      </div>
    </div>
  </div>
</footer><!-- End Footer -->
